#l'editeur python utilisé
thonny == 4.1.7
esptool == 5.1.0

#Ajouts Selmen 

#designer as a python package (shortcut : pyqt5_qt5_designer ) 
pyqt5_qt5_designer == 0.0.14

#thonny_palestine_flag (not in pip )
thonny-autosave == 0.0.22
thonny-tunisiaschools == 0.0.14

#needed by thonny

wheel == 0.45.1



#Thonny generic plugins
#thonny-block-highlight == 0.3
#as this plugin is no longer maintained , a new one is created :

#thonny linters :
thonny-edulint
friendly-traceback >= 0.7
thonny-friendly == 0.0.7
#@TODO : Test those :
#thonny-edulint
#thonny-flake
#thonny-error-explainer

#Sections scientifiques

numpy == 2.2.4











